.ninja-container-enter {
    opacity: 0.01;
}

.ninja-container-enter.ninja-container-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.ninja-container-leave {
    opacity: 1;
}

.ninja-container-leave.ninja-container-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.ninja-container-appear {
    opacity: 0.01;
}

.ninja-container-appear.ninja-container-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}